@import "../../Assets/Sass/color.scss";
@import "../../Assets/Sass/variable.scss";

.ant-layout-sider.ant-layout-sider-dark::-webkit-scrollbar {
  width: 7px;
}

.ant-menu.ant-menu-sub.ant-menu-vertical::-webkit-scrollbar {
  width: 7px;
}

.ant-layout-sider.ant-layout-sider-dark::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.ant-menu.ant-menu-sub.ant-menu-vertical::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.ant-table-wrapper::webkit-scrollbar-thumb:horizontal {
  background: #011f3c;
  border-radius: 10px;
}

.ant-menu.ant-menu-sub.ant-menu-vertical::webkit-scrollbar-thumb:horizontal {
  background: #011f3c;
  border-radius: 10px;
}

.ant-layout-sider.ant-layout-sider-dark::-webkit-scrollbar-thumb {
  background: #264463;
  border-radius: 10px;
}

.ant-menu.ant-menu-sub.ant-menu-vertical::-webkit-scrollbar-thumb {
  background: #264463;
  border-radius: 10px;
}

.demo-logo-vertical {
  display: $display_flex;
  align-items: $center;
  justify-content: $center;
  margin-bottom: 16px;
  margin-bottom: 0px;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #02023700 !important;
  width: calc(100% - 0px);
  margin-inline: 0;
}

.ant-menu-title-content {
  color: $white_color !important;
}
.ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open {
  background-color: #02023700 !important;
}

.menu-text {
  color: $dark_grey_color;
}

.ant-menu-item-selected .menu-text {
  color: $white_color !important;
}

body .ant-layout-sider .ant-menu-item-selected,
body .ant-menu-item.ant-menu-item-only-child:active {
  background-color: $blue_color2 !important;
  border-radius: 0px;
  transition: 0.5s;
}

.ant-menu-submenu-open > div > span {
  color: $white_color !important;
}

body .ant-menu-submenu-title:active {
  background: none !important;
}

.ant-layout {
  background-color: #f3f9fd !important;
}
.collapsed_mobile_logo {
  font-size: 23px;
  font-weight: bold;
  padding: 12px 10px 8px;
  width: 100% !important;
  color: $white_color;
}

.siderbar_menu .anticon {
  font-size: $font_size16 !important;
}
.siderbar_menu .ant-menu-submenu-inline li:hover .menu-text {
  color: $white_color !important;
}
.siderbar_menu .ant-menu-submenu-inline li > .anticon {
  font-size: 12px !important;
}
.siderbar_menu .ant-menu-submenu-inline .ant-menu-title-content {
  margin-left: 5px !important;
}

.content_sec {
  margin: 24px;
  margin-top: 0px;
  background: $white_color;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 17%);
  border-radius: 5px;
}

.dashboard_container table thead th:first-child,
.dashboard_container
  table
  tr
  td:first-child, .dashboard_container
  table
  thead
  th {
  padding-inline-start: 20px !important;
}

body .dashboard_container table thead th:first-child{padding-inline-start: 13px !important;}
.dashboard_container table thead th{
  font-weight: 500 !important;
}

.dashboard_container table tr td {
  text-align: $left !important;
  padding: 13px 10px !important;
}
.dashboard_container table tr:nth-child(odd){background-color: #f3f9fd;}
.dashboard_container .breadcumb_download {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin: 25px 0 !important;
  margin-top: 10px;
  align-items: $center;
}
.dashboard_container .ant-select-selector{background-color: #000c17 !important; color: $white_color; height: 32px !important;}
.dashboard_container .ant-pagination-options-size-changer .ant-select-selector{background-color: $purple_color !important;
  color: $white_color !important;}
  .dashboard_container .ant-select-arrow{ color: $white_color !important;}

/* Scroll css start */
.dashboard_container .ant-table-content::-webkit-scrollbar, .dashboard_container .ant-table-body::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

.dashboard_container .ant-table-content::-webkit-scrollbar-track, .dashboard_container .ant-table-body::-webkit-scrollbar-track {
  background: $light_grey_color;
}

.dashboard_container .ant-table-content::-webkit-scrollbar-thumb, .dashboard_container .ant-table-body::-webkit-scrollbar-thumb {
  background-color: $blue_color2;
  border-radius: 20px;
}
    
.dashboard_container table thead th{background-color: $blue_color2 !important; color: $white_color !important;}
.dashboard_container table thead th svg{fill: #fff;}
.dashboard_container table thead th{padding-left: 12px !important; padding-top: 13px !important; padding-bottom: 13px !important;}
.dashboard_container table tr p {margin-bottom: 0px;}
.dashboard_container .ant-pagination {padding-right: 25px;}

.dashboard_container .ant-pagination-item-active{
  background-color: $blue_color2;
    color: $white_color;
    border-radius: 50px;
}

// .ant-table-tbody tr:first-child{display: none;}

@media screen and (max-width: 767px) {
  .ant-layout-sider-collapsed + .ant-layout.site-layout {
    margin-left: 0px !important;
  }
  .ant-layout-sider-collapsed {
    flex: 0 0 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
    width: 0px !important;
  }
}
