@import "../../Assets/Sass/color.scss";
@import "../../Assets/Sass/variable.scss";



.loandetails{
    background-color: azure;
}

.currentLoanDetails{
    border: 1px solid black;
    height: 100px;
}