.top_header{
    background: #222;
    color: #fff;
    padding: 10px 0px;
}

// .anticon{vertical-align: 0;}
.header_top_left_side{font-size: 18px; font-weight: 600;}
small{font-size: 12px;}
.annoucement_sec{
    background: #5460d8;
    color: #fff;
    padding: 5px 15px;
}
.top_header_bottom{
    border-bottom: 1px solid #dbdbdb;
}


@media screen and (max-width:767px){
    .top_header_bottom{display: none;}
}