.top_header{
    background: #ffffff;
    color: #fff;
    padding: 10px 0px;
}

// .anticon{vertical-align: 0;}
.header_top_left_side{font-size: 18px; font-weight: 600;}
small{font-size: 12px;}
.annoucement_sec{
    background: #5460d8;
    color: #fff;
    padding: 5px 15px;
}
.top_header_bottom{
    border-bottom: 1px solid #dbdbdb;
}

.profile_icon{
    color: #000;
    padding-right: 30px;
    font-weight: 600;
    
}

.logout_button{
    color: #000;
    margin-left: 30PX;
}
