.top_header{
    background: #222;
    color: #fff;
    padding: 10px 0px;
}

.anticon{vertical-align: 0;}
.header_top_left_side{font-size: 18px; font-weight: 600;}
small{font-size: 12px;}
.annoucement_sec{
    background: #5460d8;
    color: #fff;
    padding: 5px 15px;
}
.top_header_bottom{
    border-bottom: 1px solid #dbdbdb;
}

.menu_tabs{
    background: #fbfbfb;
    height: 100vh;
}
.menu_tabs .nav-tabs{box-shadow: 0px 6px 14px -2px rgb(0 0 0 / 9%); background-color: #fff;}
.menu_tabs .nav-tabs .nav-link.active{
    border: none;
    background: #5460d8;
    color: #fff;
    border-radius: 0px;
}

.menu_tabs .ant-menu.ant-menu-sub.ant-menu-inline{
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

/* .menu_tabs .ant-menu-submenu-open .ant-menu-submenu-title{
    padding-left: 24px;
    margin: 0px;
    width: 100%;
    border-radius: 0px;
    background: #5460d8;
    color: #fff;
} */

.menu_tabs .ant-menu-item-only-child:hover{
    padding-left: 48px;
    background: #5460d8 !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0px !important;
    color: #fff !important;
}
.menu_tabs .ant-menu-item-only-child{ width: 100% !important;
    margin: 0 !important;
    border-radius: 0px !important;}

.menu_tabs .ant-menu-item-selected{
    background: #5460d8 !important;
    color: #fff !important;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
}  

.menu_tabs .ant-menu-item{
    border-radius: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}

.menu_tabs .ant-menu-item:hover{
    background: #e5e7ff !important;
    color: #000 !important;
    border-radius: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}

.loans{
    background-color: #fff;
    text-align: center;
    color: #7c7c7c;
    padding: 20px 25px;
    border: 1px solid #ebebeb;
    margin-top: 20px;
}

@media (min-width: 768px){
.menu_tabs .col-md-3 {
    flex: 0 0 auto;
    width: 22%;
}
.menu_tabs .col-md-9 {
    flex: 0 0 auto;
    width: 78%;}
}