

.supportServices{
    background-color: #fff;
}

.select .ant-col ant-col-14 ant-form-item-control css-dev-only-do-not-override-1vr7spz{
    justify-content: center;
}

.query_form .ant-row{justify-content: center;}