/* Color  */
$blue_color: #1085f5;
$blue_color2: #5460d8;
$purple_color:#5460d8;
$dark_navy_blue: #011f3c;
$light_grey_color: #bebebe;
$dark_grey_color: #7d7d7d;
$color_black: #000;
$white_color: #fff;
$background_transparent: transparent;
$red_color: #F44336;