$display_block: block;
$display_flex: flex;
$center: center;
$left: left;
$height_100vh: 100vh;
$background_no_repeat: no-repeat;
$background_cover: cover;
$cursor_pointer: pointer;

/* Font Size */
$font_size16: 16px;
$font_poppins: 'Poppins', sans-serif;
$transition_05s: 0.5s;


